body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto;
    font-family: 'roboto', sans-serif;
    /* background-color: #1F2937; */
}

div {
    /* border-style: solid; */
    /* flex: 1; */
}


.header {
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.header, .hero{
    background-color: #1F2937;
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    color: #F9FAF8;
    
}

.hero {
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    /* justify-content: center; */
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 8px;
    gap: 16px; 
}

a {
    text-decoration: none;
    color: #F9FAF8
}

button{
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
}

#rcorners1 {
    border-radius: 25px;
    background: #3882f6;
    padding: 10px 20px;
}

.hero-title {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 16px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}
.hero-image {
    background-color: #6D747D;
    color: #e5e7eb;
    text-align: center;
    padding: 100px;
    margin-left: 12px;
}

.hero-left, .hero-right {
    flex: 1;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 72px;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 24px;
}

.info-images {
    display: flex;
    align-items: center;
    
}

.image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #6D747D;
}

.image-square {
    border: 2px solid #3882f6;
    border-radius: 25px;
    padding: 22px;
    width: 100px;
    height: 100px;
}